body{
    font-family: 'Montserrat', cursive,sans-serif;
}

/* NAV BAR */
.nav {
    display: flex;
    justify-content: space-between; /* Distribuisce lo spazio tra gli elementi di sinistra e destra */
    align-items: center;
    background-color: white;
    border-bottom: 3px solid #205646; /* Bordo in basso per separazione */
    width: 87%; /* Larghezza della barra di navigazione */
    margin: auto;
}

.nav .logo {
    width: 80px;
    margin-right: 10px;
}

.search-form {
    display: flex;
    align-items: center;
    width: 600px;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%; /* Larghezza completa del contenitore */
}

.search-btn {
    background-color: #205646;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.nav-left {
    display: flex;
    align-items: center;
    flex: 1; /* Flex 1 per permettere all'elemento di prendere tutto lo spazio disponibile */
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-right .nav-link {
    text-decoration: none;
    color: #333;
    margin-left: 15px;
    font-weight: bold;
}

.nav-right .nav-link:hover {
    color: #205646;
}

.btn-logout {
    background-color: #205646;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px; /* Aggiunta di padding per un migliore aspetto */
    border: none; /* Rimuove il bordo */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}

.btn-logout:hover {
    background-color: #184d3a; /* Cambia il colore al passaggio del mouse */
}

/* SECTION */
.edit-chef-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    margin: auto;
    margin-top: 30px;
    background: linear-gradient(90deg, #46ae34af 0%, #205646 100%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-chef-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.chef-image {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid white;
}

.chef-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-column {
    width: 100%;
    max-width: 600px; /* Larghezza massima per il contenuto */
}

.image-upload {
    text-align: center;
    margin-top: 20px;
}

.image-upload label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

.image-upload input {
    font-size: 16px;
    margin-bottom: 10px;
}

form > div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: unset;
    color: white;
    font-size: 18px;
}

form input[type="text"],
form input[type="date"],
form textarea {
    width: calc(100% - 20px);
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
}

form textarea {
    resize: vertical;
}

.content-button{
    background-color: white;
    color: black;
    width: 95%;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.content-button:hover {
    background-color: #184d3a;
}
