<!DOCTYPE html>
<html>
<head>
    <title>Modifica ricetta</title>
    <link rel="stylesheet" href="/css/Chef/modificaRicetta.css" />
    
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav">
        <div class="nav-left">
            <a href="/"><img src="/images/foodLogo.png" class="logo" /></a>
            <form th:action="@{/siwfood/cerca}" method="post" class="search-form">
                <input class="form-control search-input" th:value="${nome}" name="nome" autocomplete="off" placeholder="Cerca qui le tue ricette, cuochi e ingredienti preferiti..." aria-label="Search">
                <button class="btn btn-outline-success search-btn" type="submit">Cerca</button>
            </form>
        </div>
        <div class="nav-right">
            <a class="nav-link" href="/chef/profilo" th:text="${cuoco.nome} + ' ' + ${cuoco.cognome}"></a>
            <a class="nav-link" href="/logout">
                <button class="btn-logout">Logout</button>
            </a>
        </div>
    
    </nav>

    <section>

        <div class="container" style="font-family: 'Montserrat', cursive,sans-serif;">
            <h2>Dati della ricetta</h2>
            <form th:action="@{'/chef/modificaRicetta/' + ${ricetta.id}}" method="POST" th:object="${ricetta}" enctype="multipart/form-data"> 
                <div>
                    <label for="nome">Nome:</label>
                    <input required type="text" id="nome" name="nome" th:field="*{nome}"/>
                </div>
                <div>
                    <label for="descrizione">Descrizione:</label>
                    <input required type="text" id="descrizione" name="descrizione" th:field="*{descrizione}"/>
                </div>
                <div>
                    <label for="images">Seleziona le nuove immagini:</label>
                    <input type="file" id="images" name="images" multiple>
                </div>

                <h3>Passaggi</h3>
                <ol id="stepsList" style="width: 500px;">
                    <li th:each="step, iterStat : ${ricetta.steps}">
                        <input type="text" th:name="steps[__${iterStat.index}__]" th:value="${step}" />
                        <button type="button" class="rimuovi" onclick="removeStep(this)">Rimuovi</button>
                    </li>
                </ol>
                <!-- Input per aggiungere nuovi passaggi -->
                <div style="width: 500px; margin-left: 40px;">
                    <label for="newStep">Aggiungi un passaggio:</label>
                    <input type="text" id="newStep" name="newStep" />
                    <button type="button" onclick="addStep()" style="background-color: #6bbe3f;">Aggiungi</button>
                </div>

                <div>
                    <button type="submit">Conferma</button>
                </div>
            </form>
    
            <h2>Ingredienti</h2>
            <ul>
                <li th:each="ingrediente : ${ricetta.ingredienti}">
                    <a th:href="@{'/chef/ingrediente/' + ${ingrediente.id}}" th:text="${ingrediente.nome} + ' (' + ${ingrediente.quantita} + ')' "></a>
                    <a href="#" th:id="'modificaIngrediente_' + ${ingrediente.id}" class="modifica-ingrediente">Modifica</a>
                    <a th:href="@{'/chef/rimuoviIngrediente/' + ${ricetta.id} + '/' + ${ingrediente.id}}">Cancella</a>

                    <!-- Form di modifica specifico per l'ingrediente -->
                    <form th:action="@{'/chef/modificaIngrediente/' + ${ricetta.id} + '/' + ${ingrediente.id}}" method="POST" th:object="${ingrediente}" th:id="'formModificaIngrediente_' + ${ingrediente.id}" style="display: none;"> 
                        <div style="margin-top: 20px; width: 30%;">
                            Nome: <span><input required type="text" th:field="*{nome}"/></span>
                        </div>
                        <div style="width: 30%;">
                            Quantita: <span><input required type="text" th:field="*{quantita}"/></span>
                        </div>
                        <div style="width: 30%;">
                            <span><button type="submit">Conferma</button></span>
                        </div>
                    </form>
                </li>
            </ul>

            <a href="#" id="mostraFormIngrediente" class="add-ingredient">Aggiungi ingrediente</a>

            <form th:action="@{'/chef/aggiungiIngrediente/' + ${ricetta.id}}" method="POST" th:object="${ingrediente}" id="formAggiungiIngrediente" style="display: none;"> 
                <div>
                    Nome: <span><input required type="text" th:field="*{nome}"/></span>
                </div>
                <div>
                    Quantita: <span><input required type="text" th:field="*{quantita}"/></span>
                </div>
                <div>
                    <span><button type="submit">Conferma</button></span>
                </div>
            </form>

            
    
            <h2>Immagini caricate</h2>
            <div class="current-images">
                <div th:each="immagine : ${ricetta.immagini}">
                    <img class="ricetta-image" th:src="'data:image/;base64,' + ${immagine.base64String}" alt="Immagine Ricetta" />
                    <form th:action="@{'/chef/modificaRicetta/' + ${ricetta.id} + '/eliminaImmagine/' + ${immagine.id}}" method="POST">
                        <button type="submit">Elimina</button>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <script>
        // Gestione mostrare/nascondere il form di aggiunta ingrediente
        var mostraFormIngrediente = document.getElementById('mostraFormIngrediente');
        var formAggiungiIngrediente = document.getElementById('formAggiungiIngrediente');

        mostraFormIngrediente.addEventListener('click', function(event) {
            event.preventDefault();
            if (formAggiungiIngrediente.style.display === 'none') {
                formAggiungiIngrediente.style.display = 'block';
            } else {
                formAggiungiIngrediente.style.display = 'none';
            }
        });

        // Gestione mostrare/nascondere i form di modifica ingrediente
        var modificaIngredientiLinks = document.querySelectorAll('.modifica-ingrediente');

        modificaIngredientiLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                var ingredienteId = link.id.split('_')[1];
                var formId = 'formModificaIngrediente_' + ingredienteId;
                var form = document.getElementById(formId);
                if (form.style.display === 'none') {
                    form.style.display = 'block';
                } else {
                    form.style.display = 'none';
                }
            });
        });

        // Aggiungi un nuovo passaggio
        function addStep() {
            var newStep = document.getElementById('newStep').value;
            if (newStep.trim() !== '') {
                var stepsList = document.getElementById('stepsList');

                var li = document.createElement('li');
                var index = stepsList.getElementsByTagName('li').length;

                var input = document.createElement('input');
                input.type = 'text';
                input.name = 'steps[' + index + ']';
                input.value = newStep;

                var button = document.createElement('button');
                button.type = 'button';
                button.textContent = 'Rimuovi';
                button.className = 'rimuovi';
                button.onclick = function() {
                    removeStep(this);
                };

                li.appendChild(input);
                li.appendChild(button);
                stepsList.appendChild(li);

                document.getElementById('newStep').value = '';
            }
        }

        // Rimuovi un passaggio
        function removeStep(button) {
            var li = button.parentNode;
            li.parentNode.removeChild(li);
        }

    </script>

    
</body>
</html>
