<!DOCTYPE html>
<html>
  <head>
    <title>Modifica ingrediente</title>
    
    <link rel="stylesheet" href="/stile.css?version=2" />
  </head>

  <body>
    <div><a href="/chef"><img src="/images/foodLogo.png" width="10%"/></a></div>
    <h1>Modifica ingrediente</h1>
    <form th:action="@{'/chef/modificaIngrediente/' + ${ingrediente.id}}" method="POST" th:object="${ingrediente}"> 
        <!--I campi dell'oggetto movie vengo no associati in queste operazioni-->
        <div>
            Nome: <span><input required type="text" th:field="*{nome}"/></span>
        </div>
        <div>
            Quantita: <span><input required type="text" th:field="*{quantita}"/></span>
        </div>
        <!-- <div>
            URL immagine: <span><input type="url" th:field="*{urlImage}" /></span>
        </div> -->
        <div>
            <span><button type="submit">Conferma</button></span>
        </div>
    </form>
   </body>
</html>